swiper-container {
  width: 100%;
  height: 100%;
  --swiper-pagination-bullet-inactive-color: limegreen;
  --swiper-pagination-color: green;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}
