
<ion-header [translucent]="true">
  <ion-toolbar>
    <h1 class="text-center" id="heading"> Change Password </h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Change Password </ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="container">
    <form>
      <ion-input  label="Enter Old Password (Required)*" name="oldPassword" type="password" maxlength="20" minlength="6"
        color="success" label-placement="floating" fill="outline" placeholder="test@email.com" required>
      </ion-input> <br>

      <ion-input  label="Create New Password (Required)*" name="newPassword" type="password" maxlength="20" minlength="6"
        color="success" label-placement="floating" fill="outline" placeholder="test@email.com" required>
      </ion-input> <br>

      <ion-input  label="Confirm New Password (Required)*" name="confirmPassword" type="password" maxlength="20" minlength="6"
      #password color="success" label-placement="floating" fill="outline" placeholder="test@email.com" required>
      </ion-input>
    </form>
  </div>

</ion-content>

<ion-footer>
  <ion-button [disabled]="password.value ===''" color="success" expand="block" id="open-toast" (click)="onReset()"> Submit </ion-button>
  <ion-toast position="top" color="primary" trigger="open-toast" message="Your password has reset successfully."
  [duration]="3000" icon="checkmark-circle"></ion-toast>
</ion-footer>
