ion-toolbar {
  height: 30vh;
  // border-radius: 0 0 30px 30px;
}

.container{
  margin-top: 16%;
  margin-left: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

#heading{
  margin-top: 24%;
  font-weight: 700;
  font-size: xx-large;
  color: white;
}
