<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="light">Privacy & Security</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <div class="container">
    <h3>About Privacy Policy</h3>

    <h6>Recycle Mint is a vision to divert recyclables from India's unsanitary landfills. We provide digital platforms (Application/Website) where users can schedule a doorstep pickup for their recyclables and get paid for them.</h6>

    <h3>Why Trust Us ?</h3>

    <h6>We use ISO marked weighing machine and guarantee 100% accuracy in weight measurement</h6>

    <h3>Convenience</h3>

    <h6>Schedule Pickup according to time and date convenient to you.</h6>

    <h3>Time efficiency</h3>

    <h6>If you don't want cash then you can also shop quality products at reasonable prices from our online store in exchange of your scrap and save your shopping time.</h6>

    <h3>Best Rates</h3>

    <h6>We try our best to provide you high worth of your scrap</h6>
  </div>
</ion-content>
