
<ion-header [translucent]="true">
  <ion-toolbar>
    <h1 class="text-center" id="heading"> Forget Password </h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Forget Password </ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="container">
    <form>
      <ion-input  label="Enter Email Address (Required)*" name="email" type="email" #email
        color="success" label-placement="floating" fill="outline" placeholder="test@email.com" required>
      </ion-input>
    </form>
  </div>

</ion-content>

<ion-footer>
  <ion-button [disabled]="email.value ===''" color="success" expand="block" id="open-toast" (click)="onSend()"> Send Reset Link </ion-button>
  <ion-toast position="top" color="primary" trigger="open-toast" message="Reset Password link has sent to your email."
  [duration]="3000" icon="checkmark-circle"></ion-toast>
</ion-footer>
