<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="light">Help & Support</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <img src="../../assets/main/support.jpg" alt="support">

    <h6>Recycle Mint is always active in supporting customers</h6>

    <h5>Call us at <u>+91 6372075479</u></h5>
  </div>
</ion-content>
