.custom-item {
    margin-bottom: 27px;
    font-size: 2.5vh;
    font-weight: bold;
  }

  .custom-label {
    font-weight: bold; /* Make labels bold */
  }

  .custom-input {
    border: 1px solid #000; /* Add border to the input fields */
    padding: 8px;
    border-radius:12px
  }